<div class="span4">
    <div class="headline">
        <h3>Laatste nieuws</h3>
    </div>
    <div class="row-fluid posts-sidebar">
        <ul>
            <li>
                <a href="#">
                    <div class="headline">
                        <h5>EK Rolstoelrugby in Antwerpen</h5>
                    </div>
                    <p>Van 10 tot 18 augustus gaat in het kader van 'Antwerpen Europese sporthoofdstad' het Europees Kampioenschap Rolstoelrugby door in Antwerpen</p>
                    <div class="read-more pull-right"><a href="#">lees meer...</a></div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="headline">
                        <h5>Seizoen 2013 - 2014</h5>
                    </div>
                    <p>Terwijl iedereen kan genieten van een deugddoende zomerstop zijn de voorbereidingen voor het seizoen 2013 - 2014 al volop aan de gang.</p>
                    <div class="read-more pull-right"><a href="#">lees meer...</a></div>
                    <div class="clearfix"></div>
                </a>
            </li>
            <li>
                <a href="#">
                    <div class="headline">
                        <h5>Speeldata seizoen 2013-2014</h5>
                    </div>
                    <p>De Belgische Rugby Bond heeft deze week de kalender uitgebracht voor de competitieve wedstrijden.</p>
                    <div class="read-more pull-right"><a href="#">lees meer...</a></div>
                    <div class="clearfix"></div>
                </a>
            </li>
        </ul>
    </div>
</div>