@inherits umbraco.MacroEngines.DynamicNodeContext

<div class="span12">
    <div class="headline">
        <h3>Nieuws</h3>
    </div>
    <div class="news-item">
        TODO: implementeren als nieuws overzicht klaar is (zelfde opmaak)
    </div>
</div>

