<div class="span6 results">
    <div class="headline">
        <h3>Laatste resultaten competitie</h3>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Datum</th>
                <th colspan="1">categorie</th>
                <th colspan="2"></th>
                <th colspan="2" class="center">score</th>
                <th colspan="2" class="center">tries</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>08/09/2013</td>
                <td>Senioren</td>
                <td>Visé</td>
                <td class="arc winner">Antwerp</td>
                <td>10</td>
                <td class="winner">22</td>
                <td>2</td>
                <td>4</td>
            </tr>
            <tr>
                <td>08/09/2013</td>
                <td>Senioren II</td>
                <td>Visé II</td>
                <td class="arc winner">Antwerp</td>
                <td>0</td>
                <td class="winner">12</td>
                <td>0</td>
                <td>2</td>
            </tr>
            <tr>
                <td>21/09/2013</td>
                <td>Dames</td>
                <td class="arc">Antwerp</td>
                <td class="winner">Dendermonde</td>
                <td>5</td>
                <td class="winner">10</td>
                <td>1</td>
                <td>2</td>
            </tr>
            <tr>
                <td>14/09/2013</td>
                <td>U19</td>
                <td class="arc winner">Antwerp</td>
                <td>Schilde</td>
                <td class="winner">36</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
            </tr>
            <tr>
               <td>14/09/2013</td>
                <td>U17</td>
                <td class="arc winner">Antwerp</td>
                <td>Mechelen</td>
                <td class="winner">36</td>
                <td>5</td>
                <td>6</td>
                <td>1</td>
            </tr>            
            <tr>
                <td>14/09/2013</td>
                <td>U15</td>
                <td class="arc">Antwerp</td>
                <td class="winner">Famenne</td>
                <td>5</td>
                <td class="winner">36</td>
                <td>1</td>
                <td>6</td>
            </tr>
        </tbody>
    </table>
</div>
