

<div class="span6">
    <div class="headline">
        <h3>Tweets</h3>
    </div>
    <div class="tweet-box">
        <div class="tweet">
            <div class="tweet-header">
                <a href="https://twitter.com/Nigelrefowens">
                    <span class="tweet-user">Nigel Owens</span>
                    <span class="tweet-twitter-username">‏@@Nigelrefowens</span>
                </a>
            </div>
            <div class="twitter-bird"></div>
            <div class="clearfix"></div>
            <div class="tweet-content">New srum law. Crouch Bind(players bind & don't let go)Set. No9 puts ball in on refs command & in THE middle & only when scrum is stationary</div>
        </div>
        <div class="tweet">
            <div class="tweet-header">
                <a href="https://twitter.com/AntwerpRugby">
                    <span class="tweet-user">AntwerpRugbyClub</span>
                    <span class="tweet-twitter-username">‏@@AntwerpRugby</span>
                </a>
            </div>
            <div class="twitter-bird"></div>
            <div class="clearfix"></div>
            <div class="tweet-content"><a href="#">@@rugbyBEL_</a> <a href="#">@@RugbyVL</a> <a href="#">“@@AntwerpRugby</a> Antwerp hoofdcoach ook coach van England Counties U20 <a href="#">http://bit.ly/13ZXjwS</a> <a href="#">#AntwerpRugby</a>””</div>
        </div>
        <div class="tweet">
            <div class="tweet-header">
                <a href="https://twitter.com/AntwerpRugby">
                    <span class="tweet-user">AntwerpRugbyClub</span>
                    <span class="tweet-twitter-username">‏@@AntwerpRugby</span>
                </a>
            </div>
            <div class="twitter-bird"></div>
            <div class="clearfix"></div>
            <div class="tweet-content">Antwerp hoofdcoach ook coach van England Counties U20 <a href="http://bit.ly/13ZXjwS">http://bit.ly/13ZXjwS</a> <a href="https://twitter.com/search?q=#AntwerpRugby">#AntwerpRugby</a></div>
        </div>
    </div>
</div>

