<!DOCTYPE root[<!ELEMENT SponsorItem ANY>
<!ATTLIST SponsorItem id ID #REQUIRED>
<!ELEMENT SponsorContainer ANY>
<!ATTLIST SponsorContainer id ID #REQUIRED>
<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT ContactContainer ANY>
<!ATTLIST ContactContainer id ID #REQUIRED>
<!ELEMENT ContactItem ANY>
<!ATTLIST ContactItem id ID #REQUIRED>
 
<!ELEMENT BasicPage ANY>
<!ATTLIST BasicPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT PageBase ANY>
<!ATTLIST PageBase id ID #REQUIRED>
<!ELEMENT Team ANY>
<!ATTLIST Team id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-07-30T22:04:31" updateDate="2013-08-07T08:27:05" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1046" nodeTypeAlias="HomePage">
    <ContentPage id="1064" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2013-07-31T14:43:24" updateDate="2013-07-31T15:53:59" nodeName="Teams" urlName="teams" path="-1,1048,1064" isDoc="" nodeType="1056" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1055" nodeTypeAlias="ContentPage">
      <seoPageTitle />
      <seoKeyWords />
      <seoDescription />
      <pageTitle>Teams</pageTitle>
      <pageContent><![CDATA[]]></pageContent>
      <Team id="1065" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2013-07-31T15:44:32" updateDate="2013-07-31T15:57:49" nodeName="Senioren" urlName="senioren" path="-1,1048,1064,1065" isDoc="" nodeType="1054" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1053" nodeTypeAlias="Team">
        <seoPageTitle>Teams - Senioren I</seoPageTitle>
        <seoKeyWords />
        <seoDescription />
        <teamId>1</teamId>
        <teamName>Senioren I</teamName>
        <teamDescription><![CDATA[]]></teamDescription>
        <teamContacts>
          <MultiNodePicker type="content">
            <nodeId>1062</nodeId>
            <nodeId>1063</nodeId>
          </MultiNodePicker>
        </teamContacts>
      </Team>
    </ContentPage>
    <seoPageTitle>Homepage</seoPageTitle>
    <seoKeyWords>Rugby, Antwerp, sport, club,</seoKeyWords>
    <seoDescription />
    <homeWelcomeText><![CDATA[<p>Antwerp RC is een van de grootste clubs in Belgie met meer dan 350 leden en ploegen in elke leeftijdscategorie vanaf 7 jaar tot veteranen en zelfs een damesploeg.</p>
<p>Aangezien wij een ambitieuze club zijn, zijn we altijd op zoek naar nieuwe spelers om onze kern mee uit te breiden. Ben je een ervaren rot of zet je je eerste rugbypassen, Antwerp RC biedt je de mogelijkheid aan om deel uit te maken van een van de meest levendige clubs in Belgie.</p>
<p>Voor het komende seizoen heeft het bestuur van Antwerp Rugby Club een nieuwe sporttechnische omkadering samengesteld, met als doel onze senioren terug naar de top van de competitie te brengen:</p>
<ul>
<li>Head coach: Rich Williams (algemene strategie, selectie, aanval en driekwarters)</li>
<li>Assistant coach: Francis Demolder (pack, verdediging en contact situaties)</li>
<li>Conditioning coach: Yves Derop (enkel op woensdag)</li>
</ul>
<p>Wij zijn ervan overtuigd dat onder de deskundige leiding van Rich, Francis en Yves, Antwerp Rugby Club hoge toppen zal scheren in het belgisch rugbywereldje!</p>
<p>Uit naam van iedereen bij Antwerp Rugby Club: Welkom bij de club, Rich en Francis!</p>]]></homeWelcomeText>
    <homeWelcomeTitle>Welkom bij Antwerp Rugby Club</homeWelcomeTitle>
  </HomePage>
  <ContactContainer id="1061" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-07-31T14:37:26" updateDate="2013-08-01T12:08:24" nodeName="Contacts" urlName="contacts" path="-1,1061" isDoc="" nodeType="1059" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="0" nodeTypeAlias="ContactContainer">
    <ContactItem id="1062" parentID="1061" level="2" creatorID="0" sortOrder="0" createDate="2013-07-31T14:41:30" updateDate="2013-07-31T17:28:50" nodeName="Bart De Meyer" urlName="bart-de-meyer" path="-1,1061,1062" isDoc="" nodeType="1060" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="0" nodeTypeAlias="ContactItem">
      <contactFirstName>Bart</contactFirstName>
      <contactLastName>De Meyer</contactLastName>
      <contactTitle>Webmaster</contactTitle>
    </ContactItem>
    <ContactItem id="1063" parentID="1061" level="2" creatorID="0" sortOrder="1" createDate="2013-07-31T14:42:12" updateDate="2013-07-31T14:42:28" nodeName="Atilla Van Regenmoortel" urlName="atilla-van-regenmoortel" path="-1,1061,1063" isDoc="" nodeType="1060" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="0" nodeTypeAlias="ContactItem">
      <contactFirstName>Atilla</contactFirstName>
      <contactLastName>Van Regenmoortel</contactLastName>
      <contactTitle>Secretaris</contactTitle>
    </ContactItem>
  </ContactContainer>
  <SponsorContainer id="1069" parentID="-1" level="1" creatorID="0" sortOrder="2" createDate="2013-08-01T12:08:11" updateDate="2013-08-01T12:08:29" nodeName="Sponsors" urlName="sponsors" path="-1,1069" isDoc="" nodeType="1066" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="0" nodeTypeAlias="SponsorContainer">
    <SponsorItem id="1070" parentID="1069" level="2" creatorID="0" sortOrder="0" createDate="2013-08-01T12:08:51" updateDate="2013-08-06T12:24:07" nodeName="Belvu" urlName="belvu" path="-1,1069,1070" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>Belvu</sponsorName>
      <sponsorURL>http://www.belvu.be</sponsorURL>
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1073</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1095</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
    <SponsorItem id="1076" parentID="1069" level="2" creatorID="0" sortOrder="1" createDate="2013-08-01T12:13:25" updateDate="2013-08-06T12:24:50" nodeName="Bier in huis" urlName="bier-in-huis" path="-1,1069,1076" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>BierInHuis</sponsorName>
      <sponsorURL>http://www.bierinhuis.be/</sponsorURL>
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1075</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1096</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
    <SponsorItem id="1089" parentID="1069" level="2" creatorID="0" sortOrder="2" createDate="2013-08-06T11:34:42" updateDate="2013-08-06T12:25:08" nodeName="Carrefour" urlName="carrefour" path="-1,1069,1089" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>Carrefour</sponsorName>
      <sponsorURL>http://www.carrefour.eu/</sponsorURL>
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1078</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1097</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
    <SponsorItem id="1090" parentID="1069" level="2" creatorID="0" sortOrder="3" createDate="2013-08-06T11:35:12" updateDate="2013-08-06T12:25:22" nodeName="Castermans" urlName="castermans" path="-1,1069,1090" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>Castermans</sponsorName>
      <sponsorURL>http://www.droogkuis-castermans.be/</sponsorURL>
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1080</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1098</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
    <SponsorItem id="1091" parentID="1069" level="2" creatorID="0" sortOrder="4" createDate="2013-08-06T11:35:44" updateDate="2013-08-06T12:25:34" nodeName="Crowns &amp; Bridges" urlName="crowns-bridges" path="-1,1069,1091" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>Crowns &amp; Bridges</sponsorName>
      <sponsorURL>http://www.crownsandbridges.nl/</sponsorURL>
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1082</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1099</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
    <SponsorItem id="1092" parentID="1069" level="2" creatorID="0" sortOrder="5" createDate="2013-08-06T11:36:15" updateDate="2013-08-06T12:25:46" nodeName="Dimension Data" urlName="dimension-data" path="-1,1069,1092" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>Dimension Data</sponsorName>
      <sponsorURL>http://www.dimensiondata.com/</sponsorURL>
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1084</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1100</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
    <SponsorItem id="1093" parentID="1069" level="2" creatorID="0" sortOrder="6" createDate="2013-08-06T11:37:01" updateDate="2013-08-06T12:25:56" nodeName="Goossens" urlName="goossens" path="-1,1069,1093" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>Goossens</sponsorName>
      <sponsorURL />
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1086</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1101</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
    <SponsorItem id="1094" parentID="1069" level="2" creatorID="0" sortOrder="7" createDate="2013-08-06T11:37:22" updateDate="2013-08-06T12:26:07" nodeName="Duvel" urlName="duvel" path="-1,1069,1094" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>Duvel</sponsorName>
      <sponsorURL>http://www.duvel.be/</sponsorURL>
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1088</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1102</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
    <SponsorItem id="1112" parentID="1069" level="2" creatorID="0" sortOrder="8" createDate="2013-08-06T12:49:16" updateDate="2013-08-06T12:49:53" nodeName="EBM" urlName="ebm" path="-1,1069,1112" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>EBM</sponsorName>
      <sponsorURL>http://www.ebm-bvba.be/</sponsorURL>
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1104</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1105</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
    <SponsorItem id="1113" parentID="1069" level="2" creatorID="0" sortOrder="9" createDate="2013-08-06T12:50:09" updateDate="2013-08-06T12:50:35" nodeName="Joosen" urlName="joosen" path="-1,1069,1113" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>Eddy Joosen</sponsorName>
      <sponsorURL>http://www.mercedes.be/</sponsorURL>
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1107</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1108</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
    <SponsorItem id="1114" parentID="1069" level="2" creatorID="0" sortOrder="10" createDate="2013-08-06T12:50:43" updateDate="2013-08-06T12:51:09" nodeName="Etec" urlName="etec" path="-1,1069,1114" isDoc="" nodeType="1068" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1067" nodeTypeAlias="SponsorItem">
      <sponsorName>Etec</sponsorName>
      <sponsorURL>http://www.etec.be/</sponsorURL>
      <sponsorDescription><![CDATA[]]></sponsorDescription>
      <sponsorLogoSmall>1110</sponsorLogoSmall>
      <sponsorLogoLarge />
      <sponsorLogoSmallBW>1111</sponsorLogoSmallBW>
      <sponsorLogoLargeBW />
    </SponsorItem>
  </SponsorContainer>
</root>