<!DOCTYPE root[<!ELEMENT ContentPage ANY>
<!ATTLIST ContentPage id ID #REQUIRED>
<!ELEMENT ContactContainer ANY>
<!ATTLIST ContactContainer id ID #REQUIRED>
<!ELEMENT ContactItem ANY>
<!ATTLIST ContactItem id ID #REQUIRED>
 
<!ELEMENT BasicPage ANY>
<!ATTLIST BasicPage id ID #REQUIRED>
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT PageBase ANY>
<!ATTLIST PageBase id ID #REQUIRED>
<!ELEMENT Team ANY>
<!ATTLIST Team id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1048" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2013-07-30T22:04:31" updateDate="2013-07-31T12:26:45" nodeName="Home" urlName="home" path="-1,1048" isDoc="" nodeType="1047" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1046" nodeTypeAlias="HomePage">
    <seoPageTitle>Homepage</seoPageTitle>
    <seoKeyWords>Rugby, Antwerp, sport, club,</seoKeyWords>
    <seoDescription />
    <ContentPage id="1064" parentID="1048" level="2" creatorID="0" sortOrder="0" createDate="2013-07-31T14:43:24" updateDate="2013-07-31T15:53:59" nodeName="Teams" urlName="teams" path="-1,1048,1064" isDoc="" nodeType="1056" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1055" nodeTypeAlias="ContentPage">
      <seoPageTitle />
      <seoKeyWords />
      <seoDescription />
      <pageTitle>Teams</pageTitle>
      <pageContent><![CDATA[]]></pageContent>
      <Team id="1065" parentID="1064" level="3" creatorID="0" sortOrder="0" createDate="2013-07-31T15:44:32" updateDate="2013-07-31T15:57:49" nodeName="Senioren" urlName="senioren" path="-1,1048,1064,1065" isDoc="" nodeType="1054" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="1053" nodeTypeAlias="Team">
        <seoPageTitle>Teams - Senioren I</seoPageTitle>
        <seoKeyWords />
        <seoDescription />
        <teamId>1</teamId>
        <teamName>Senioren I</teamName>
        <teamDescription><![CDATA[]]></teamDescription>
        <teamContacts>
          <MultiNodePicker type="content">
            <nodeId>1062</nodeId>
            <nodeId>1063</nodeId>
          </MultiNodePicker>
        </teamContacts>
      </Team>
    </ContentPage>
  </HomePage>
  <ContactContainer id="1061" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2013-07-31T14:37:26" updateDate="2013-07-31T14:41:57" nodeName="ContactContainer" urlName="contactcontainer" path="-1,1061" isDoc="" nodeType="1059" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="0" nodeTypeAlias="ContactContainer">
    <ContactItem id="1062" parentID="1061" level="2" creatorID="0" sortOrder="0" createDate="2013-07-31T14:41:30" updateDate="2013-07-31T17:28:50" nodeName="Bart De Meyer" urlName="bart-de-meyer" path="-1,1061,1062" isDoc="" nodeType="1060" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="0" nodeTypeAlias="ContactItem">
      <contactFirstName>Bart</contactFirstName>
      <contactLastName>De Meyer</contactLastName>
      <contactTitle>Webmaster</contactTitle>
    </ContactItem>
    <ContactItem id="1063" parentID="1061" level="2" creatorID="0" sortOrder="1" createDate="2013-07-31T14:42:12" updateDate="2013-07-31T14:42:28" nodeName="Atilla Van Regenmoortel" urlName="atilla-van-regenmoortel" path="-1,1061,1063" isDoc="" nodeType="1060" creatorName="bartdemeyer" writerName="bartdemeyer" writerID="0" template="0" nodeTypeAlias="ContactItem">
      <contactFirstName>Atilla</contactFirstName>
      <contactLastName>Van Regenmoortel</contactLastName>
      <contactTitle>Secretaris</contactTitle>
    </ContactItem>
  </ContactContainer>
</root>