@{
    string stringToRender = string.Empty;
    bool shortened = false;
    if (Model != null && !string.IsNullOrEmpty(Model.TeamName))
    {
        stringToRender = Model.TeamName;
        if (!Model.TeamName.Contains(" ") && Model.TeamName.Length > 15*Model.Factor)
        {
            stringToRender = Model.TeamName.Substring(0, 15) + "...";
            shortened = true;
        }
    }
}
<span title="@Model.TeamName"
    @if (shortened)
    {
        @:  class="showTooltip"
    }
    >@stringToRender</span>


